div.gallery {
  width: 250px;
  padding: 20px;
}
div.ab {
  text-align: center;
  font-size: 12px;
  padding: 70px;
  color: white;
}
h1 {
  text-align: center;
}
.footer {
  background-color: #fedd02;
  height: 200px;
  width: 1350px;
  margin-top: 15px;
  font-size: 23px;
}
#menu-outer {
  height: 84px;
  background: url(images/bar-bg.jpg) repeat-x;
}

.table {
  display: table; /* Allow the centering to work */
  margin: 0 auto;
}

ul#horizontal-list {
  min-width: 696px;
  list-style: none;
  padding-top: 20px;
}

ul#horizontal-list li {
  display: inline;
  padding: 50px;
  align-content: center;
}
.gallery{
    background-color: #ffffff;
    height: 200px;
    width: 1350px;
    margin-top: 15px;
    font-size: 23px;
}
#menu-outer3 {
	height: 84px;
	background: url(images/bar-bg.jpg) repeat-x;
}

.table3 {
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
}

ul#horizontal-list3 {
	min-width: 696px;
	list-style: none;
    padding-top: 20px;
    }
    
ul#horizontal-list3 li {
        display: inline;
        padding: 50px;
        align-content: center;
}
.rights{
    background-color: rgb(144, 145, 139);
    height: 200px;
    width: 1350px;
    margin-top: 0px;
    font-size: 23px;
}
/* .rights {
  background-color: rgb(144, 145, 139);
  height: 200px;
  width: 1350px;
  margin-top: 0px;
  font-size: 23px;
} */
#menu-outer2 {
  height: 84px;
}

html {
  scroll-behavior: smooth;
}

.table2 {
  display: table; /* Allow the centering to work */
  margin: 0 auto;
}

ul#horizontal-list2 {
  min-width: 696px;
  list-style: none;
  padding-top: 20px;
}

ul#horizontal-list2 li {
  display: inline;
  padding: 80px;
  align-content: center;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.section {
  margin-bottom: 50px;
  padding-left: 100px;
  padding-right: 100px;
}

.nav {
  background-color: #fedd02;
  overflow: hidden;
  padding-left: 100px;
  padding-right: 100px;
}

.navBlack {
  background-color: #393939;
  overflow: hidden;
  padding-left: 100px;
  padding-right: 100px;
  height: 20px;
}

.navLinks a {
  text-decoration: none;
  float: left;
  display: block;
  color: #000;
  text-align: center;
  padding: 14px 16px;
  font-size: 18px;
  display: flex;
  align-items: center;
  height: 35px;
  cursor: pointer;
  font-weight: bold;
}

.navLinks img {
  float: left;
  padding: 3px 0px;
  padding-right: 16px;
  cursor: pointer;
}

.navLinks a:hover {
  background-color: #fff;
  color: black;
}

.navActive {
  background-color: #fff;
}

.nav input {
  float: right;
  width: 30%;
  height: 25px;
  margin: 0 auto;
  border: none;
  border: solid 1px #ccc;
  border-radius: 40px;
  margin-top: 10px;
  padding: 8px 16px;
  outline: none;
}

.title {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.teams {
  background-color: #f3f3f3;
  padding-bottom: 30px;
}

.teamsContainer {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  padding: 0px;
}

.teamCard {
  width: 270px;
  height: 268px;
  background-color: #fff;
  float: left;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 0px 2px #888888;
  cursor: pointer;
  border-radius: 10px;
  transition: transform 0.4s;
  padding-top: 10px;
  padding-bottom: 10px;
}

.teamCard img {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.teamCard .bold {
  font-weight: bold;
  font-size: 24px;
}

.teamCard p {
  text-align: center;
  /* padding-top: 5px; */
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.teamCard:hover {
  box-shadow: 0px 0px 20px #888888;
  transform: scale(1.03);
}

.showcase {
  margin-bottom: 50px;
}

.showcaseImage {
  width: 100%;
}

.table {
  display: table;
  font-family: "Roboto", sans-serif;
  margin: auto;
  /* padding-left: 80px;
  padding-right: 80px; */
}

.table .row {
  display: table-row;
}

.table .td {
  display: table-cell;
  padding: 20px;
  border-left: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
}

.table .row2 {
  background-color: #393939;
  color: #ffffff;
}

.table .row3 {
  background-color: #fedd02;
}

.table .row4 {
  background-color: #393939;
  color: #ffffff;
}

.table .row5 {
  background-color: #fedd02;
}

.table .row6 {
  background-color: #393939;
  color: #ffffff;
}

.table .td1 {
  width: 100%;
  border-right: 5px solid #ffffff;
}

.table .td2 {
  background-color: #393939;
  color: #ffffff;
}

.table .td3 {
  background-color: #393939;
  color: #10d824;
}

.table .td4 {
  background-color: #393939;
  color: #ff5b5b;
}

.table .td5 {
  background-color: #393939;
  color: #ffffff;
}

.table .td6 {
  background-color: #393939;
  color: #ffffff;
}

.table .td7 {
  background-color: #393939;
  color: #ffffff;
}

.flex-container {
  display: flex;
  flex-direction: row;
  background-color: #f3f3f3;
  height: 200px;
}

.flex-container > div {
  background-color: #10d824;
  margin: 10px;
  text-align: center;
}
.highlightsContainer {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
  padding: 0px;
}

.highlightsCard {
  width: 350px;
  height: 268px;
  background-color: #fff;
  float: left;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 0px 2px #888888;
  cursor: pointer;
  border-radius: 10px;
}

.highlightsCard .bold {
  font-weight: bold;
  font-size: 24px;
}

.highlightsCard p {
  text-align: center;
  /* padding-top: 5px; */
  font-size: 12px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.highlightsCard span {
  color: gray;
  margin-right: 40px;
}

.highlightsCard .fi {
  float: left;
  margin-left: 100px;
  width: 20px;
  height: 20px;
}

.highlightsCard textRow {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.highlightsCard .play {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -32px;
  transition: transform 0.2s;
}

.highlightsCard .play:hover {
  transform: scale(1.5);
}

.highlightsCard:hover > .play {
  transform: scale(1.5);
}

.section div button {
  margin-top: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-style: none;
  padding: 15px 20px;
  background-color: #fedd02;
  box-shadow: 0px 2px 10px #888888;
  outline: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 24px;
}
