div.gallery {
    margin: 5px;
    /* border: 1px solid #ccc; */
    float: left;
    width:200px;
    padding: 28px;
    font-size: 30px;
   
      
  }
  p {
      text-align: center;
      font-size: 12px;
      padding: 70px;
      color:white;
    }
 h2{
        text-align: center;
    }
 b { 
        font-weight: bold;
    }
.footer{
    background-color: rgb(238, 255, 4);
    height: 200px;
    width: 1350px;
    margin-top: 250px;
    font-size: 23px;
}
#menu-outer {
	height: 84px;
	background: url(images/bar-bg.jpg) repeat-x;
}

.table {
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
}

ul#horizontal-list {
	min-width: 696px;
	list-style: none;
    padding-top: 20px;
    }
    
ul#horizontal-list li {
        display: inline;
        padding: 50px;
        align-content: center;
}
.rights{
    background-color: rgb(144, 145, 139);
    height: 200px;
    width: 1350px;
    margin-top: 0px;
    font-size: 23px;
}
#menu-outer2 {
	height: 84px;
}

.table2 {
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
}

ul#horizontal-list2 {
	min-width: 696px;
	list-style: none;
    padding-top: 20px;
    }
    
ul#horizontal-list2 li {
        display: inline;
        padding: 80px;
        align-content: center;
}